@import 'config';
@import 'utilities';

// General styles

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    font-family: 'NB-International-Pro-Regular';
    line-height: 1.6;
    color: #000;
}

a {
    text-decoration: none;
    color: $dark-color;
}

p {
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

h1 {
    font-size: 6rem;
}

h2, h3, h4 {
    text-transform: uppercase;
    font-size: 3rem;
}

img {
    width: 100%;
}

// Logo
#logo {
    width: 70px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}

// Main nav     
#main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        letter-spacing: 0.5rem; 
        color: #000;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;
        font-size: 1.5rem;
        
        &:hover {
            border-color: $medium-color
        }

        &.current {
            border-color: $main-color;
        }
    }


}

// Header
#header {
    // Header Home
    &-home {
        background-color: $color-off-white;
        height: 100vh;
        color: #333;

        // Header Content
        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 5.2rem; 
                line-height: 1.2;
            }
        }
    }

    // Header Inner
    &-inner {
    }
}

// Home Sections
#home {
    // Home Section A
    &-a {
        .specials {
            margin-top: 3rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);

            .fas {
                color: $main-color;
                padding-bottom: 0.4rem;
            }
        }
    }

    // Home Section B
    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
            li {
                line-height: 2;

                &.stats-title {
                    font-size: 2.5rem;
                }

                &.stats-number {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 3rem 0;

                &:nth-child(odd) {
                    background: $light-color;
                }

                &:nth-child(even) {
                    background: $medium-color;
                }
            }
        }
    }
}

// Home Section C
&-c {
    .process-step {
        font-size: 2rem;
    }
}
















